#cabecalho {
  border: 1px solid;
  padding: 15px;
}

#esquerda {
  width: 60.3%;
  height: 250px;
  float: left;
}

#txt1 {
  float: right;
  text-align: center;
}

#direita {
  width: 37%;
  height: 400px;
  float: right;
  background-color: yellow;
  text-align: center;
}

.box {
  width: 20%;
  height: 300px;
  float: left;

  text-align: center;
  padding: 5px;
}

#times {
  width: 37%;
  height: 150px;
  float: right;
  border: 1px solid;
}
